@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

body {
  font-family: 'Karla', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-bg: #F5F7FB;
  --color-txt: #293264;
  --color-btn: #4D5B9E;
  --color-select: #D6DBF5; 

  color: var(--color-txt);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* =====
Container
===== */

main {
  width: 100%;
  position: relative;
}

.overlay--wrapper {
  width: 100%;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

.overlay--content {
  margin: auto;
  max-width: 20em;
  text-align: center;
}

.question--wrapper {
  width: 100%;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2em 0.75em;
}

.question {
  max-width: 750px;
  padding: 0 0 1.5em 0;
  margin-bottom: 1.5em;

  border-bottom: 1px solid var(--color-btn);
}

.answer__wrapper {
  display: flex;
  margin-top: 0.75em;
  
}

/* =====
Typography
===== */
.t_h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 2em;
  line-height: 1.15;
  color: var(--color-txt)
}

.t_p {
  font-size: 0.875em;
  line-height: 1.2;
}

.t_h2 {
  font-weight: 700;
  font-size: 1.126em;
  line-height: 1.2;

  color: var(--color-txt);
}

/* =====
Img's
===== */

.absolute__img {
  position: fixed;
}

.absolute__img.left {
  bottom: 0;
  left: 0;
}

.absolute__img.right {
  top: 0;
  right: 0;
}


/* =====
Utility
===== */
button {
  padding: 0.75em 1.5em;
  margin-top: 1.5em;

  font-style: normal;
  font-weight: 600;
  font-size: 0.875em;
  line-height: 1.2;

  color: #F5F7FB;
  background: var(--color-btn);

  border-radius: 10px;
  border: none;

  cursor: pointer;
}

.answer {
  padding: 0.5em 1.5em;
  margin-right: 0.75em;
  border: 1px solid var(--color-btn);
  border-radius: 0.5em;

  cursor: pointer;
}

@media only screen and (max-width: 479px) {
  .question {
    width: 100%;
    padding: auto 0.75em;
  }

  .answer__wrapper {
    flex-wrap: wrap;
    row-gap: 0.75em;
  }
}